# This is intended for local development and testing only.
# For the time being there is no additional documentation on setting this up.
# envchain --set gitlab-orchestrator GITLAB_TOKEN
# https://gitlab.com/groups/HnBI/platform-as-a-service/-/settings/access_tokens
export GITLAB_TOKEN=$(envchain gitlab-orchestrator env | grep GITLAB_TOKEN | cut -d'=' -f2)
